In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import *
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.externals import joblib
from sklearn.metrics import mean_absolute_error

Using TensorFlow backend.

In [2]:
# Load our data set 
df = pd.read_csv("house_data.csv")

In [3]:
 # Create the X and y arrays 
X = df[["sq_feet", "num_bedrooms", "num_bathrooms"]] 
y = df[["sale_price"]]

In [4]:
# Create a scaler for the inputs and outputs
X_scaler = MinMaxScaler(feature_range=(0, 1)) 
y_scaler = MinMaxScaler(feature_range=(0, 1))

In [5]:
X_scaler

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
X.columns

Index(['sq_feet', 'num_bedrooms', 'num_bathrooms'], dtype='object')

In [7]:
X[X.columns]

      sq_feet  num_bedrooms  num_bathrooms
0         785             2              2
1        1477             2              2
2         712             1              1
3        3233             3              3
4        1581             2              1
5        1616             2              2
6        3490             4              1
7        1123             3              2
8         883             2              1
9        2083             3              3
10        846             2              2
11       1928             4              1
12        840             2              2
13       1617             4              1
14       1340             3              3
15       3749             4              3
16       3078             3              3
17       3198             3              2
18       1633             3              2
19       1033             2              2
20       1888             4              3
21       3786             3              2
22       1242             2              2
23       2473             3              2
24       1070             1              1
25       2644             3              1
26       3983             3              3
27       3605             3              1
28       1419             2              1
29       2139             3              3
...       ...           ...            ...
9970     1640             3              2
9971     3599             3              3
9972     3437             3              1
9973     1126             2              2
9974     2910             3              2
9975     1931             2              2
9976     3895             3              2
9977     1546             3              2
9978     3413             3              1
9979     3692             3              2
9980     2732             3              3
9981     2047             3              3
9982     1051             3              1
9983      938             1              1
9984     3545             3              2
9985     3500             3              3
9986     3374             4              3
9987     1594             3              2
9988     3431             3              2
9989     3322             3              2
9990     3037             3              2
9991     1757             4              3
9992     2633             4              1
9993     1273             4              1
9994     3636             3              3
9995     3203             3              3
9996     3422             3              1
9997     1531             4              3
9998     1979             3              3
9999     3391             3              1

[10000 rows x 3 columns]

In [8]:
 # Scale the input and output data
X[X.columns] = X_scaler.fit_transform(X[X.columns]) 
y[y.columns] = y_scaler.fit_transform(y[y.columns])

C:\Users\nishq\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\nishq\Anaconda3\envs\tfdeeplearning\lib\site-packages\pandas\core\indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\nishq\Anaconda3\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
X[X.columns]

       sq_feet  num_bedrooms  num_bathrooms
0     0.081452      0.333333            0.5
1     0.279223      0.333333            0.5
2     0.060589      0.000000            0.0
3     0.781080      0.666667            1.0
4     0.308945      0.333333            0.0
5     0.318948      0.333333            0.5
6     0.854530      1.000000            0.0
7     0.178051      0.666667            0.5
8     0.109460      0.333333            0.0
9     0.452415      0.666667            1.0
10    0.098885      0.333333            0.5
11    0.408117      1.000000            0.0
12    0.097171      0.333333            0.5
13    0.319234      1.000000            0.0
14    0.240069      0.666667            1.0
15    0.928551      1.000000            1.0
16    0.736782      0.666667            1.0
17    0.771077      0.666667            0.5
18    0.323807      0.666667            0.5
19    0.152329      0.333333            0.5
20    0.396685      1.000000            1.0
21    0.939125      0.666667            0.5
22    0.212061      0.333333            0.5
23    0.563875      0.666667            0.5
24    0.162904      0.000000            0.0
25    0.612746      0.666667            0.0
26    0.995427      0.666667            1.0
27    0.887396      0.666667            0.0
28    0.262646      0.333333            0.0
29    0.468420      0.666667            1.0
...        ...           ...            ...
9970  0.325807      0.666667            0.5
9971  0.885682      0.666667            1.0
9972  0.839383      0.666667            0.0
9973  0.178908      0.333333            0.5
9974  0.688768      0.666667            0.5
9975  0.408974      0.333333            0.5
9976  0.970277      0.666667            0.5
9977  0.298943      0.666667            0.5
9978  0.832524      0.666667            0.0
9979  0.912261      0.666667            0.5
9980  0.637897      0.666667            1.0
9981  0.442126      0.666667            1.0
9982  0.157474      0.666667            0.0
9983  0.125179      0.000000            0.0
9984  0.870249      0.666667            0.5
9985  0.857388      0.666667            1.0
9986  0.821378      1.000000            1.0
9987  0.312661      0.666667            0.5
9988  0.837668      0.666667            0.5
9989  0.806516      0.666667            0.5
9990  0.725064      0.666667            0.5
9991  0.359245      1.000000            1.0
9992  0.609603      1.000000            0.0
9993  0.220920      1.000000            0.0
9994  0.896256      0.666667            1.0
9995  0.772506      0.666667            1.0
9996  0.835096      0.666667            0.0
9997  0.294656      1.000000            1.0
9998  0.422692      0.666667            1.0
9999  0.826236      0.666667            0.0

[10000 rows x 3 columns]

In [10]:
y[y.columns]

      sale_price
0       0.109396
1       0.264612
2       0.062536
3       0.773249
4       0.275276
5       0.317899
6       0.794120
7       0.214646
8       0.123808
9       0.438726
10      0.131958
11      0.434109
12      0.125568
13      0.372629
14      0.290590
15      0.891149
16      0.673622
17      0.723146
18      0.353881
19      0.165497
20      0.420322
21      0.822128
22      0.217124
23      0.569252
24      0.156079
25      0.548139
26      0.926331
27      0.798478
28      0.253212
29      0.469208
...          ...
9970    0.345903
9971    0.839260
9972    0.770197
9973    0.201082
9974    0.662869
9975    0.400293
9976    0.841907
9977    0.337517
9978    0.758323
9979    0.869056
9980    0.628648
9981    0.448307
9982    0.213775
9983    0.118053
9984    0.836907
9985    0.771903
9986    0.773932
9987    0.341527
9988    0.797814
9989    0.745478
9990    0.670790
9991    0.438421
9992    0.641032
9993    0.304119
9994    0.888003
9995    0.704716
9996    0.740477
9997    0.360546
9998    0.423327
9999    0.803168

[10000 rows x 1 columns]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [12]:
model = Sequential()

In [13]:
model.add(Dense(50, input_dim=3, activation='relu'))
model.add(Dense(100, activation = 'relu'))
model.add(Dense(50, activation = 'relu'))

In [14]:
model.add(Dense(1,activation = 'linear'))

In [15]:
model.compile(
    loss = 'mean_squared_error',
    optimizer = 'SGD'
)

In [16]:
model.fit(
    X_train, 
    y_train, 
    epochs=50, 
    batch_size=8,
    shuffle=True,
    verbose=2
)

Epoch 1/50
 - 410s - loss: 0.0056
Epoch 2/50
 - 8s - loss: 4.0340e-04
Epoch 3/50
 - 7s - loss: 3.6320e-04
Epoch 4/50
 - 6s - loss: 3.5061e-04
Epoch 5/50
 - 7s - loss: 3.4463e-04
Epoch 6/50
 - 7s - loss: 3.3975e-04
Epoch 7/50
 - 6s - loss: 3.3659e-04
Epoch 8/50
 - 7s - loss: 3.3474e-04
Epoch 9/50
 - 7s - loss: 3.3246e-04
Epoch 10/50
 - 6s - loss: 3.3126e-04
Epoch 11/50
 - 7s - loss: 3.3006e-04
Epoch 12/50
 - 7s - loss: 3.2945e-04
Epoch 13/50
 - 8s - loss: 3.2816e-04
Epoch 14/50
 - 6s - loss: 3.2748e-04
Epoch 15/50
 - 7s - loss: 3.2659e-04
Epoch 16/50
 - 6s - loss: 3.2552e-04
Epoch 17/50
 - 6s - loss: 3.2710e-04
Epoch 18/50
 - 7s - loss: 3.2629e-04
Epoch 19/50
 - 6s - loss: 3.2442e-04
Epoch 20/50
 - 7s - loss: 3.2512e-04
Epoch 21/50
 - 6s - loss: 3.2441e-04
Epoch 22/50
 - 6s - loss: 3.2413e-04
Epoch 23/50
 - 5s - loss: 3.2493e-04
Epoch 24/50
 - 6s - loss: 3.2339e-04
Epoch 25/50
 - 6s - loss: 3.2314e-04
Epoch 26/50
 - 7s - loss: 3.2358e-04
Epoch 27/50
 - 7s - loss: 3.2255e-04
Epoch 28/50
 - 6s - loss: 3.2231e-04
Epoch 29/50
 - 5s - loss: 3.2211e-04
Epoch 30/50
 - 5s - loss: 3.2273e-04
Epoch 31/50
 - 7s - loss: 3.2227e-04
Epoch 32/50
 - 7s - loss: 3.2327e-04
Epoch 33/50
 - 6s - loss: 3.2270e-04
Epoch 34/50
 - 6s - loss: 3.2190e-04
Epoch 35/50
 - 6s - loss: 3.2139e-04
Epoch 36/50
 - 6s - loss: 3.2152e-04
Epoch 37/50
 - 9s - loss: 3.2222e-04
Epoch 38/50
 - 9s - loss: 3.2106e-04
Epoch 39/50
 - 9s - loss: 3.2080e-04
Epoch 40/50
 - 8s - loss: 3.2044e-04
Epoch 41/50
 - 8s - loss: 3.2158e-04
Epoch 42/50
 - 8s - loss: 3.2041e-04
Epoch 43/50
 - 8s - loss: 3.2051e-04
Epoch 44/50
 - 8s - loss: 3.2124e-04
Epoch 45/50
 - 8s - loss: 3.1939e-04
Epoch 46/50
 - 8s - loss: 3.2024e-04
Epoch 47/50
 - 8s - loss: 3.2100e-04
Epoch 48/50
 - 8s - loss: 3.2056e-04
Epoch 49/50
 - 8s - loss: 3.2036e-04
Epoch 50/50
 - 7s - loss: 3.2125e-04

In [17]:
joblib.dump(X_scaler, "X_scaler.pkl")
joblib.dump(y_scaler, "y_scaler.pkl")

['y_scaler.pkl']

In [18]:
model.save("house_value_model.h5")

In [20]:
print("Model training results:")
# Report mean absolute error on the training
# set in a value scaled back to dollars so 
# it's easier to understand. 
predictions_train = model.predict(X_train, verbose=0) 
mse_train = mean_absolute_error( 
    y_scaler.inverse_transform(predictions_train), 
    y_scaler.inverse_transform(y_train) 
) 
print(" - Training Set Error: ",mse_train)

Model training results:
 - Training Set Error:  9127.721625000004